.listGallery {
  list-style-type: none;
  padding-left: 0;
}

.containerGallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 80px;
}

img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}
